@page "/"
@using Models

<PageTitle>Game Catalog</PageTitle>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>

    </thead>
    <tbody>
    @foreach (var game in games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td class="text-end">@game.Price.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
            </tr> 
            }
    </tbody>
</table>
@code{
     private GameSummary[] games =
     [
         new(){
             Id = 1,
            Name = "The Witcher 3: Wild Hunt",
            Genre = "RPG",
            Price = 29.99M,
            ReleaseDate = new DateOnly(2015, 5, 19)
             },
            new(){
                Id = 2,
                Name = "Cyberpunk 2077",
                Genre = "RPG",
                Price = 59.99M,
                ReleaseDate = new DateOnly(2020, 12, 10)
            },
            new(){
                Id = 3,
                Name = "Doom Eternal",
                Genre = "FPS",
                Price = 39.99M,
                ReleaseDate = new DateOnly(2020, 3, 20)
            }
    ]; 
}